<template name="post_editor">

	<div class="container">

		<div class="input-group">
			<span class="input-group-addon">Subject</span>
			<input id="post_subject_holder" name="subject" type="text" class="form-control" placeholder="Enter Your Post Subject">
		</div>

		<br/>
		<div class="input-group">
			<ul class="nav nav-tabs">
				<li role="presentation" class="{{#if isActive 'text'}} active{{/if}}"><a id="text_mode" href="#">Text</a></li>
				<li role="presentation" class="{{#if isActive 'html'}} active{{/if}}"><a id="html_mode" href="#">HTML</a></li>
			</ul>
		</div>

		<div id="post_text_content_holder" class="form-control scroll {{#if isActive 'html'}} hidden{{/if}}" contentEditable="true" placeholder="Text"></div>
		<textarea id="post_html_content_holder" class="form-control scroll {{#if isActive 'text'}} hidden{{/if}}" rows="14" placeholder="HTML">{{htmlPostContent}}</textarea>

		<br/>
		<div class="input-group">
			<button id="save_post" type="button" class="btn btn-lg btn-primary">Save</button>
		</div>

	</div>

</template>
