<template name="font_toolbar">
	<div style="display: inline-block">
		<button type="button" class="btn btn-default btn-sm pull-right">
			<span class="glyphicon glyphicon-font" aria-hidden="true"></span>
		</button>

		<button type="button" class="btn btn-default btn-sm pull-right">
			<span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
		</button>

		<button type="button" class="btn btn-default btn-sm pull-right">
			<span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
		</button>
	</div>
</template>